<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers</title>
    <link rel="stylesheet" type="text/css" href="/style.css"/> <!-- Adjusted path for CSS -->
    <style>
        .customer img {
            max-width: 150px; /* Set the maximum width to 150 pixels */
            max-height: 150px; /* Set the maximum height to 150 pixels */
            width: auto; /* Let the width adjust based on the aspect ratio */
            height: auto; /* Let the height adjust based on the aspect ratio */
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Customers</h1>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
        </ul>
    </nav>

    <!-- Customer listing -->
    <div class="listing">
        <h2>List of Customers</h2>
        <div th:if="${session.customerList != null}">
            <div th:each="customer : ${session.customerList}" class="customer">
                <img src="/customer1.jpg" alt="Customer Image">
                <h3 th:text="${customer.name}">Customer Name</h3>
                <p th:text="${customer.phoneNumber}">Phone Number</p>
                <p th:text="${customer.email}">Email</p>
            </div>
        </div>
    </div>



    <!-- Add customer form -->
    <div class="form">
        <h2>Add Customer</h2>
        <form action="customers" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
            <label for="phoneNumber">Phone Number</label> <!-- Corrected label attribute value -->
            <input type="text" id="phoneNumber" name="phoneNumber" required>
            <label for="email">Email</label> <!-- Corrected label attribute value -->
            <input type="email" id="email" name="email" required>
            <button type="submit">Add Customer</button>
        </form>
    </div>
</div>
</body>
</html>
